<% include ./partials/header %>
<h1>Welcome to YelpCamp!</h1>
<h3>This is a site showing all available campsites!</h3>

<a href="/campgrounds">Show me the Campgrounds</a>

<% include ./partials/footer %>
